h1#Heading {
    text-align: center;
    font-size: 50px;
    color: purple;
}

h2#Intro {
    font-size: 30px;
}
#Webpage {
}

#Intro {
    text-align: center;
}

#Goalset {
    text-align: center;
}

#MainGoal {
    width:200px;
    margin:0 auto;
    text-align:left;
    font-size: 15px;
}

#ComplimentGoal {
    text-align: center;
}

#Ideas {
    text-align: center;
}
