body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 0.8em;
  font-weight: 300;
}

p {
  font-size: 1.6em;
}
